<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 101 Template</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap --> <!-- Le styles -->
    <link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" charset="utf-8"></script>
    <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .table{
            margin-top:50px;
        }
        .current{
            background:#2f70cb;
        }
    </style>
</head>
<style type="text/css">

</style>
<body>
<div id="page">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a data-bootstro-step="5" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/userinfo_index">userinfo option</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="6" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/camera_index" target="">camera option</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="5" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/usercamera_index">user camera option</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="6" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/userlog_index" target="">userlog</a>
                        </li>
                        <li class="current">
                            <a data-bootstro-step="5" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/systemlog_index">systemlog</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="6" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/logout_index" target="">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>systemTime</th>
            <th>serverName</th>
            <th>content</th>
            <th>createTime</th>
            <th>modifyTime</th>
            <th>操作</th>
        </tr>
        </thead>


        <tbody class="tbd">
            #foreach($i in $list)
            <tr data-id="$i.id">
                <td>$i.id</td>
                <td>$i.systemTime</td>
                <td>$i.serverName</td>
                <td>$i.content</td>
                <td>$i.createTime</td>
                <td>$i.modifyTime</td>
                <td><button class="del btn btn-danger" type="button">删除</button></td>
            </tr>
            #end
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function() {
        var addBtn = $('#J_add'),
                tableBox = $('.tbd'),
                ipts = $('.addBox .ipt'),
                one,
                addUrl = '/add_systemlog',//新增请求地址
                delUrl = '/delete_systemlog';//删除请求地址

        addBtn.on('click', function(e) {
            var trs = $('tr', tableBox),
                    index = parseInt($($('td', trs[trs.length - 1])[0]).html(), 10) + 1,
                    value1 =  $(ipts[0]).val(),
                    value2 =  $(ipts[1]).val(),
                    value3 =  $(ipts[2]).val(),
                    value4 =  $(ipts[3]).val(),
                    value5 =  $(ipts[4]).val();

            $.post(
                    addUrl,
                    {
                        'ziduan1': value1,
                        'ziduan2': value2,
                        'ziduan3': value3,
                        'ziduan4': value4,
                        'ziduan5': value5
                    },
                    callback,
                    'json'
            );

            function callback(data) {
                if(data.status != 'success') {
                    alert(data.message);
                    return;
                }
                one = $('<tr>'+
                        '<td>'+ index +'</td>'+
                        '<td>'+ value2 +'</td>'+
                        '<td>'+ value3 +'</td>'+
                        '<td>'+ value4 +'</td>'+
                        '<td>'+ value5 +'</td>'+
                        '<td>'+ 'NA' +'</td>'+
                        '<td>'+ 'NA' +'</td>'+
                        '<td><button class="btn btn-danger" type="button">删除</button></td>'+
                        '</tr>');
                tableBox.append(one);
                $(ipts[0]).val('');
                $(ipts[1]).val('');
                $(ipts[2]).val('');
                $(ipts[3]).val('');
                $(ipts[4]).val('');
            }

        });

        tableBox.on('click', '.del', function(e) {
            var tar = e.target;
            var one = $(tar).parents('tr');
            var id = one.attr('data-id');
            $.post(
                    delUrl,
                    {
                        id : id
                    },
                    callback,
                    'json'
            );
            function callback(data) {
                if(data.status != 'success') {
                    alert(data.message);
                    return;
                }
                one.remove();
            }
        });
    });
</script>

</body>
</html>