<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 101 Template</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap --> <!-- Le styles -->
    <link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" charset="utf-8"></script>
    <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .table{
            margin-top:50px;
        }
        .current{
            background:#2f70cb;
        }
    </style>
</head>
<style type="text/css">

</style>
<body>
<div id="page">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="current">
                            <a data-bootstro-step="5" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/userinfo_index">userinfo option</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="6" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/camera_index" target="">camera option</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="5" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/usercamera_index">user camera option</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="6" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/userlog_index" target="">userlog</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="5" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/systemlog_index">systemlog</a>
                        </li>
                        <li class="">
                            <a data-bootstro-step="6" data-bootstro-placement="bottom" data-bootstro-title="" class="bootstro" href="/logout_index" target="">logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>userName</th>
            <th>password</th>
            <th>type（数字）</th>
            <th>email</th>
            <th>read orignal（数字）</th>
            <th>on_off（数字）</th>
            <th>defog（数字）</th>
            <th>read defog（数字）</th>
            <th>register camera（数字）</th>
            <th>createTime</th>
            <th>modifyTime</th>
            <th>操作</th>
        </tr>
        <tr class="addBox">
            <td><input name="id" class="ipt i1" type="text" style="display:none;"/>NA</td>
            <td><input name="userName" class="ipt i2" type="text"/></td>
            <td><input name="password" class="ipt i3" type="text" style="display:none;"/>NA</td>
            <td><input name="type" class="ipt i4" type="text"/></td>
            <td><input name="email" class="ipt i5" type="text"/></td>
            <td><input name="readOrignal" class="ipt i6" type="text"/></td>
            <td><input name="onOff" class="ipt i7" type="text"/></td>
            <td><input name="defog" class="ipt i8" type="text"/></td>
            <td><input name="readDefog" class="ipt i9" type="text"/></td>
            <td><input name="registerCamera" class="ipt i10" type="text"/></td>
            <td>NA</td>
            <td>NA</td>
            <td><button id="J_add" class="btn btn-success" type="button">更新</button></td>
        </tr>
        </thead>


        <tbody class="tbd">
            #foreach($i in $list)
            <tr data-id="$i.id">
                <td>$!i.id</td>
                <td>$!i.userName</td>
                <td>*****</td>
                <td>$!i.type</td>
                <td>$!i.email</td>
                <td>$!i.readOrignal</td>
                <td>$!i.onOff</td>
                <td>$!i.deFog</td>
                <td>$!i.readDeFog</td>
                <td>$!i.registerCamera</td>
                <th>$!i.createTime</th>
                <th>$!i.modifyTime</th>
                <td><button class="del btn btn-danger" type="button">删除</button></td>
            </tr>
            #end
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function() {
        var addBtn = $('#J_add'),
                tableBox = $('.tbd'),
                ipts = $('.addBox .ipt'),
                one,
                addUrl = '/add_userinfo',//新增请求地址
                delUrl = '/delete_userinfo';//删除请求地址

        addBtn.on('click', function(e) {
            var trs = $('tr', tableBox),
                    index = parseInt($($('td', trs[trs.length - 1])[0]).html(), 10) + 1,
                    value1 =  $(ipts[0]).val(),
                    value2 =  $(ipts[1]).val(),
                    value3 =  $(ipts[2]).val(),
                    value4 =  $(ipts[3]).val(),
                    value5 =  $(ipts[4]).val(),
                    value6 =  $(ipts[5]).val(),
                    value7 =  $(ipts[6]).val(),
                    value8 =  $(ipts[7]).val(),
                    value9 =  $(ipts[8]).val(),
                    value10 =  $(ipts[9]).val();

            $.post(
                    addUrl,
                    {
                        'ziduan1': value1,
                        'ziduan2': value2,
                        'ziduan3': value3,
                        'ziduan4': value4,
                        'ziduan5': value5,
                        'ziduan6': value6,
                        'ziduan7': value7,
                        'ziduan8': value8,
                        'ziduan9': value9,
                        'ziduan10': value10
                    },
                    callback,
                    'json'
            );

            function callback(data) {
                if(data.status != 'success') {
                    alert(data.message);
                    return;
                }
                one = $('<tr>'+
                        '<td>'+ index +'</td>'+
                        '<td>'+ value2 +'</td>'+
                        '<td>'+ value3 +'</td>'+
                        '<td>'+ value4 +'</td>'+
                        '<td>'+ value5 +'</td>'+
                        '<td>'+ value6 +'</td>'+
                        '<td>'+ value7 +'</td>'+
                        '<td>'+ value8 +'</td>'+
                        '<td>'+ value9 +'</td>'+
                        '<td>'+ value10 +'</td>'+
                        '<td>'+ 'NA' +'</td>'+
                        '<td>'+ 'NA' +'</td>'+
                        '<td><button class="btn btn-danger" type="button">删除</button></td>'+
                        '</tr>');
                tableBox.append(one);
                $(ipts[0]).val('');
                $(ipts[1]).val('');
                $(ipts[2]).val('');
                $(ipts[3]).val('');
                $(ipts[4]).val('');
                $(ipts[5]).val('');
                $(ipts[6]).val('');
                $(ipts[7]).val('');
                $(ipts[8]).val('');
                $(ipts[9]).val('');
            }

        });

        tableBox.on('click', '.del', function(e) {
            var tar = e.target;
            var one = $(tar).parents('tr');
            var id = one.attr('data-id');
            $.post(
                    delUrl,
                    {
                        id : id
                    },
                    callback,
                    'json'
            );
            function callback(data) {
                if(data.status != 'success') {
                    alert(data.message);
                    return;
                }
                one.remove();
            }
        });
    });
</script>

</body>
</html>